name: main

on:
  pull_request:
  workflow_dispatch:

jobs:
  test: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        run: npm install

      - name: Run unit tests
        run: npm run test

      - name: Run integration tests
        run: |
          npm start > /dev/null 2>&1 &
          curl -I -L -s http://localhost:3000 | grep -q "200 OK" && echo "Website is alive" || echo "Website is not alive"
